doctype html
html
	head
		title #{title}		
		style
			include style.css
	body
		table(border='1', cellpadding='7')
			tr 
				td(colspan='1', bgcolor='#D3EDF6', align='center') Заголовок
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				//td(colspan='1', bgcolor='#D3EDF6', align='center') Время постановки
				td(colspan='1', bgcolor='#D3EDF6', align='center') статус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание

			tr
				//-var task 
				form(method='post', action='/addTask', id='task') 
					tr
						input(type='hidden', value=task.id, name='id')
						td
							input(type='text', value=task.name, name='name') 
						td
							select(multpile='',name='type', form='task')
								each i in typeArray
									option(value=i) #{i}							
						td 
							input(type='text', value=task.director, name='director')
						td 
							select(required='', name='controller')
								each i in usersArray
									option(value=i.name) #{i.name}
						td 
							select(required='', name='executor')
								each i in usersArray
									option(value=i.name) #{i.name}
							//input(type='hidden', value=task.timeOfSet, name='timeOfSet')
						td 
							input(type='text', value=task.status, name='status')
						td 
							input(type='text', value=task.description, name='description')
					tr
						input(type='submit', value='Добавить')