doctype html
html
	head
		title #{title}		
		style
			include style.css
	body
		//- datalist(id='cocktail')
				option Аперитивы
				option Горячие
				option Десертные
				option Диджестивы
				option Молочные
				option Слоистые
		table(border='1', cellpadding='7')
			tr 
				td(colspan='1', bgcolor='#D3EDF6', align='center') Заголовок
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				//td(colspan='1', bgcolor='#D3EDF6', align='center') Время постановки
				td(colspan='1', bgcolor='#D3EDF6', align='center') статус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание
				td(colspan='1', bgcolor='#D3EDF6', align='center') parent

			tr
				//-var task 
				form(method='post', action='/addTask', id='task') 
					tr
						input(type='hidden', value=task.id, name='id')
						td
							input(type='text', value=task.name, name='name') 
						td
							select(multpile='',name='type', form='task')
								each i in typeArray
									option(value=i) #{i}							
						td 
							input(name='director', list='users')
							datalist(id='users')
								each i in usersArray
									option(value=i.name)
						td 
							select(required='', name='controller')
								each i in usersArray
									option(value=i.name) #{i.name}
						td 
							select(required='', name='executor')
								each i in usersArray
									option(value=i.name) #{i.name}
							//input(type='hidden', value=task.timeOfSet, name='timeOfSet')
						td 
							input(type='text', value=task.status, name='status')
						td 
							input(type='text', value=task.description, name='description')
						//a(class = (type == 'Подзадача' ) ? "visible" : "hidden")
						-var typeOf = type
						td
							//input(type= (typeOf == 'Подзадача' ) ? 'text' : 'hidden', value=task.parent, name='parent')	
					tr
						input(type='submit', value='Добавить')