doctype html
html
	head
		title #{title}		
		style
			include style.css
	body
		a.button(href='/') На главную
		//- datalist(id='cocktail')
				option Аперитивы
				option Горячие
				option Десертные
				option Диджестивы
				option Молочные
				option Слоистые
		table(border='1', cellpadding='7')
			tr 
				td(colspan='1', bgcolor='#D3EDF6', align='center') Заголовок
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				//td(colspan='1', bgcolor='#D3EDF6', align='center') Время постановки
				td(colspan='1', bgcolor='#D3EDF6', align='center') статус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание
				td(colspan='1', bgcolor='#D3EDF6', align='center') parent

			tr
				form(method='post', action='/addTask', id='task') 
					tr
						input(type='hidden', value=task.id, name='id')
						td
							input(type='text', value=task.name, name='name') 
						td
							select(multpile='',name='type', form='task')
								each i in typeArray
									option(value=i) #{i}							
						td 
							input(name='director', list='users')
							datalist(id='users')
								each i in usersArray
									option(value=i)
						td 
							select(required='', name='controller')
								each i in usersArray
									option(value=i) #{i}
						td 
							select(required='', name='executor', form='task')
								each i in usersArray
									option(value=i) #{i}
							//input(type='hidden', value=task.timeOfSet, name='timeOfSet')
						td 
							select(required='',name='status', form='task')
								each i in statusArray
									option(value=i) #{i}
						td 
							input(type='text', value=task.description, name='description')
						td
							select(required='',name='parent', form='task')
								each i in taskArray
									option(value=i) #{i}
					tr
						input(type='submit', value='Добавить')