doctype html
html
	head
		title #{title}
		style
			include style.css
	body
		table(border='1', cellpadding='7')
			tr 
				td(colspan='1', bgcolor='#D3EDF6', align='center') Заголовок
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				td(colspan='1', bgcolor='#D3EDF6', align='center') статус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание
				td(colspan='1', bgcolor='#D3EDF6', align='center', id='idParent1') parent

			tr
				form(method='post', action='/update', name='name1')
					tr
						input(type='hidden', value=task.id, name='id')
						td
							input(type='text', value=task.name, name='name') 
						td
							select(required='', name='type', onchange='checkParent(value)', id='type')
								optgroup(label="Тип задачи")
									each i in typeArray
										option(value=i) #{i}
						td 
							input(name='director', list='users')
							datalist(id='users')
								each i in usersArray
									option(value=i)
						td 
							select(required='', name='controller')
								each i in usersArray
									option(value=i) #{i}
						td 
							select(required='', name='executor')
								each i in usersArray
									option(value=i) #{i}
							//input(type='text', value=task.timeOfSet, name='timeOfSet')
						td 
							select(type='text', name='status')
								each i in statusArray
									option(value=i) #{i}
						td 
							input(type='text', value=task.description, name='description')
						//- /-var taskArray = getTaskArr()
						td(id='idParent2')
							select(required='', name='parent', form='task', select='type')
								each i in taskArray
									option(value=i) #{i}
					tr
							input(type='submit', value='Применить')
	script(src='display.js')
