doctype html
html
	head
		title #{title}
		style
			include style.css
	body
		table(border='1', cellpadding='7')
			tr 
				td(colspan='1', bgcolor='#D3EDF6', align='center') Заголовок
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				td(colspan='1', bgcolor='#D3EDF6', align='center') Cтатус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание
				//-if (task.type == 'Подзадача')
				td(colspan='1', bgcolor='#D3EDF6', align='center', id='idParent1') Parent

			tr
				form(method='post', action='/update', name='task')
					tr
						input(type='hidden', value=task.id, name='id')
						td
							input(type='text', value=task.name, name='name') 
						td
							select(required='', name='type', onchange='checkParent(value)', id='type', value=task.type)
								//-optgroup(label="Тип задачи")
								each i in typeArray
									if (i == task.type)
										option(value=i, selected) #{i}
									else
										option(value=i) #{i}
						//- -var userArray = getUserList();
						//- -var taskArray 	= getTaskList(); 
						td 
							input(name='director', list='users', value=task.director)
							datalist(id='users')
								each i in userArray
									option(value=i)
						td 
							select(required='', name='controller', selected)
								each i in userArray
									if (i == task.controller)
										option(value=i, selected) #{i}
									else 
										option(value = i) #{i}
						td 
							select(required='', name='executor')
								each i in userArray
									if (i == task.executor)
										option(value=i, selected) #{i}
									else
										option(value=i) #{i}
							//input(type='text', value=task.timeOfSet, name='timeOfSet')
						td 
							select(type='text', name='status')
								each i in statusArray
									if (i == task.status)
										option(value=i, selected) #{i}
									else
										option(value=i) #{i}
						td 
							input(type='text', value=task.description, name='description')
						//-if (task.type == 'Подзадача')
						td(id='idParent2')
							select(required='', name='parent')
								each i in taskArray
									option(value=i) #{i}
					tr
							input(type='submit', value='Применить')
	script(src='display.js')
