doctype html
html
	head
		title #{title}
	body
		table(border='1', cellpadding='7')
			tr
				td(colspan='1', bgcolor='#D3EDF6', align='center') id
				td(colspan='1', bgcolor='#D3EDF6', align='center') Имя
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				td(colspan='1', bgcolor='#D3EDF6', align='center') Время постановки
				td(colspan='1', bgcolor='#D3EDF6', align='center') Статус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание
			each i in rows
				tr
					td= i.id
					td= i.Заголовок
					td= i.Тип
					td= i.Постановщик
					td= i.Контроллер
					td= i.Исполнитель
					td= i.Время_постановки
					td= i.Статус
					td= i.Описание
					td
						form(method='get',action='/show')
							input(type='hidden', value=i.id, name='id')
							input(type='submit', value='Посмотреть')
