doctype html
html
	head
		title #{title}
		style
			include style.css
		//- script.
		//- 	function getData(value){
		//- 	alert("Enter hui" +	value);
		//- 	}
	body
		a.button(href='/') На главную
		table(border='1', cellpadding='7')
			tr 
				//id не для юзера, а для компа
				//td(colspan='1', bgcolor='#D3EDF6', align='center') id  		
				td(colspan='1', bgcolor='#D3EDF6', align='center') Заголовок
				td(colspan='1', bgcolor='#D3EDF6', align='center') Тип
				td(colspan='1', bgcolor='#D3EDF6', align='center') Постановщик
				td(colspan='1', bgcolor='#D3EDF6', align='center') Контроллер
				td(colspan='1', bgcolor='#D3EDF6', align='center') Исполнитель
				td(colspan='1', bgcolor='#D3EDF6', align='center') Время постановки
				td(colspan='1', bgcolor='#D3EDF6', align='center') Статус
				td(colspan='1', bgcolor='#D3EDF6', align='center') Описание
				td(colspan='1', bgcolor='#D3EDF6', align='center') Родитель
			tr
				-var task = JSON.stringify(tmpTask)
				//td #{tmpTask.id}
				td #{tmpTask.name}
				td #{tmpTask.type}
				td #{tmpTask.director}
				td #{tmpTask.controller}
				td #{tmpTask.executor}
				td #{tmpTask.timeofset}
				td #{tmpTask.status}
				td #{tmpTask.description}
				td #{tmpTask.parent}
				td
					form(method='post',action='/edit')
						input(type='hidden', value=task, name='task')
						input(type='submit', value='Изменить')
				td
					//- form(method='post',action='/showSubTask')
					form
						input(type='hidden', value=task, name='task')
						//-input(type='button', value='Посмотреть подзадачи')
						input(type='button', value='Посмотреть подзадачи', onclick="getData(this.form.task.value)")
		include test.jade
		script(src='testScript.js')